body {
  text-align: center;
  font-family: sans-serif;
}

.labeled-radio, .labeled-radio * {
  display: inline;
  cursor: pointer;
}

#ipa-input {
  margin-top: 10px;
  display: inline-block;
}

#text-input {
  resize: none;
  margin-top: 10px;
  height: 130px;
  box-sizing: border-box;
  padding: 5px 5px;
  border: 1px solid #375eaa;
  border-radius: 5px;
  font-size: 14px;
  background-color: #ffffd8;
}

#text-input:focus {
  outline: 0;
}

@media (max-width: 350px) {
  #text-input, #ipa-input {
    width: calc(100% - 20px);
  }
}

@media (min-width: 350px) {
  #text-input, #ipa-input {
    width: 330px;
  }
}

#synthesize-button {
  margin: 5px 0 0 0;
  width: 110px;
  height: 35px;
}

.ipa-input-symbol {
  margin: 2px;
  width: 35px;
  height: 35px;
}

button {
  border: 1px solid #375eaa;
  border-radius: 5px;
  background-color: #e0ebf5;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
